<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %> <!-- メタデータ -->
  <title>B3netTop</title>
  <%- include("./_share/stylesheets.ejs") %> <!-- CSS -->
  <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>

<body>
  <div class="outerframe">
    <%- include("./_share/navbar.ejs") %> <!-- ナビゲーションバー -->
    <h1> Hello World!!</h1>
    <%- include("./_share/footer.ejs") %> <!-- フッター -->
  </div>
  <%- include("./_share/scripts.ejs") %> <!-- JS -->
</body>

</html>